* {
	font-family: "Jost", sans-serif;
}

body {
	width: 99vw;
	height: 97.5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.informacion {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contenido {
	display: none;
	width: 87vw;
	flex-direction: column;
	justify-content: center;
}

table {
	border-collapse: collapse;
	width: fit-content;
	width: 80vw;
}

th {
	padding: 10px;
	text-align: center;
}

td {
	width: 120px;
	height: 30px;
	border: 2px solid #a100ff;
	padding: 10px;
	text-align: center;
}

.ocupado {
	background-color: #a100ff;
}

input[type="radio"] {
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	margin: -9.5px;
	appearance: none;
	-webkit-appearance: none;
	box-sizing: border-box;
}

input[type="radio"]:checked {
	transition: 0.2s ease;
	background-color: #a100ff;
	box-shadow: 1px 3px 0px 2px #3f0361;
	border: 2px solid #520181;
	border-radius: 4px;
	margin-left: -13px;
}


.btnComprobar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80vw;
	height: 10vh;
}

.btnComprobar input {
	width: fit-content;
	background: #a100ff;
	color: white;
	border-radius: 7px;
}

.legend {
	margin-top: 10px;
	margin-left: 30px;
}

.legend div {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.legend div span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 1px solid #000;
}

.legend .ocupado {
	background-color: #a100ff;
}

.legend .libre {
	background-color: white;
}