* {
	font-family: "Jost", sans-serif;
}

body {
	width: 99vw;
	height: 97.5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.informacion{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contenido{
	display: none;
	width: 87vw;
	flex-direction: column;
	justify-content: center;

}

.tablaReservas{
	display: flex;
	width: 87vw;
	align-items: center;
	justify-content: center;
}


.reservar{
	display: flex;
	justify-content: center;
	width: 87vw;
	margin-top: 20px;
}

.reservar a{
	background: #a100ff;
	padding: 5px;
	font-size: 15px;
	color:white;
	border-radius: 10px;
	text-decoration: none;
}

* {
	font-family: "Jost", sans-serif;
}

table{
	border-collapse:collapse;
	padding:4px;
}

td{
	padding:5px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 99vw;
	height: 90vh;
}

select{
	width: 20vw;
	font-size: 18px;
	border-color: #a100ff;
	border:2px solid #a100ff;
	border-radius: 10px;
}

h1{
	height: 5vh;
}

#reservas{
	display: flex;
	width: 99vw;
	justify-content: space-around;
	align-items: center;
	height: 65vh;
}

.hours{
	display: flex;
	flex-direction: column;
	gap: 1px;
}

.ocupado{
	display: flex;
	height:inherit;
	width:inherit;
	justify-content: center;
	border: 2px solid #1a001a;
	background-color: #1a001a;
	padding: 5px;
	color: white;
	padding:10px;
	
}

.libre{
	display: flex;
	height:inherit;
	width:inherit;
	justify-content: center;
	border: 2px solid #a100ff;
	padding: 5px;
	color: #a100ff;
	padding:10px;
}

#opciones{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30vw;
	margin: 20px;
}

.selected {
    border:2px solid #a100ff;
    background-color: #a100ff;
}


a.cancelar{
	display: flex;
	background-color: red;
	color:white;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	width: 7vw;
	height: 5vh;
	text-decoration: none;
	font-size: 15px;
}	

button.confirmar{
	display: flex;
	background-color: green;
	color:white;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	width: 12vw;
	height: 5vh;
	font-size: 15px;
}

.legend{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}

.legend {
	margin-top: 20px;
	margin-left: 30px;
}

.legend div {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.legend div span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border: 1px solid #000;
}

.legend .ocupado {
	background-color: #a100ff;
}

.legend .libre {
	background-color: white;
	margin-left:10px;
}