* {
	font-family: "Jost", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

h4{
	margin-top:5vh;
	font-size: 1.85rem;
	color:white;
	width:80vw;
	text-align:center;
	margin-bottom: 2vh;
	box-shadow: 0px 3px 5px 0px rgba(26,83,102,1);
}

h3{
	text-align: center;
}

table{
	text-align: center;
}

td.deleteCell{
	width:20px;
}

.subjectForm form{
	display: flex;
	flex-direction: row;
	gap: 7px;
	align-items: center;
	justify-content : center;
}

.subjectForm form input{
	height: 4vh;
	transition: 0.5s;
	padding: 5px;
}

.subjectForm form input:hover{
	color: black;
	background : white;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(227,227,227,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(227,227,227,1);
     box-shadow: 0px 1px 5px 0px rgba(227,227,227,1);
}
.deleteNote{
	display: flex;
	justify-content: center;
	align-items: center;
    width: 20px;
	height: 20px;
}

.curso{
	display:flex;
	align-items:center;
	justify-content:center;
	width:50%;
	font-size: 25px;
}
.errorMsg{
	color: red;
}

.deleteCell form{
	width: 100%;
}
.infoGrade{
	background-color: #ffffff;
	color: black;
	font-weight: 400;
}

.numberGrade{
	background-color: #cfe4e3;
	color: black;
	font-weight: 400;
}

.general{
	display: flex;
	margin: 2%;
	width: 80vw;
	justify-content: space-between;
}

.asignaturas {
	background-color: #f0f0f0; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	padding: 10px; 
	font-size: 16px; 
	color: #333; 
	width: 100%; 
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
	transition: all 0.3s ease; 
}

.asignaturas:focus {
	border-color: #007bff; 
	box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); 
	outline: none; 
}

.asignaturas option {
padding: 10px; 
 }
 
 
.encabezados{
	display: flex;
	margin: 2%;
	width: 80vw;
	justify-content: space-around;
} 

.alumnoBox{
	display: flex;
	height: auto;
	flex-direction: column;
	border: 1px black solid;
	width: 20vw;
	overflow:auto;
	
}
::-webkit-scrollbar {
    display: none;
}

#contenido{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 40vh;
	justify-content: flex-start;
	overflow:auto;
	border-top: 1px solid black;
}
.examen{
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	padding: 5px;
	gap: 2px;
	overflow:auto;
}

.boton button:hover{
	background-color: blue;
	
	}
.boton{
	font-size:120%;
	font-weight:100;
	width: 100%;
	height:6vh;
	color: black;
	cursor: pointer;
	transition: all 0.4s ease;
	border:none;
	
}
#frame{
	display: flex;
	border: black 1px solid;
	width: 57vw;
	height: 40vh;
	margin-left: 3vw; 
	gap: 10%;
	flex-direction: column;
	justify-content: space-between;
}

.anadir{
	display: flex;
	justify-content: center;
	align-items:center;
	height:7vh;
	width: 100%;
	gap:15px;
}

.parteBaja{
	text-align: center;

}
.anadirbtn{
	width: 5vw;
}

.alumnos h4{
	width: 20vw;
}

.alumnos form{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.alumnos form input:hover{
	color: black;
	background : white;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(227,227,227,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(227,227,227,1);
     box-shadow: 0px 1px 5px 0px rgba(227,227,227,1);
}


.alumnos form input{
	height: 4vh;
	transition: 0.5s;
	padding: 5px;
}

.alumnosOptions{
	display:flex;
	flex-direction:row;
	align-items: left;
	justify-content:left;
	width:100%;
	gap: 5px;
	}
.calificaciones h4{
	width: 57vw;
	margin-left: 3vw; 
}

.divCali form{
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
	gap: 20px;
}

.divCali form input{
	width: 50%;
	height: 4vh;
	transition: 0.3s;
}

.divCali form input:hover{
	color: black;
	background : white;
-webkit-box-shadow: 0px 1px 5px 0px rgba(227,227,227,1);
-moz-box-shadow: 0px 1px 5px 0px rgba(227,227,227,1);
box-shadow: 0px 1px 5px 0px rgba(227,227,227,1);
}
 
.parteBaja{
	background-color: #4C3DE3;
	color: white;
}

.anadir{
	border-top: 1px solid white;
	background-color: #2F2687;
}

h4.belenColor {
	background-color: #de6c02;
	box-shadow: 0px 3px 5px 0px #8a4605;
}

h4.picassoColor {
	background-color: #5b2593;
	box-shadow: 0px 3px 5px 0px #3e1864;
}

h4.joseColor {
	background-color: #006B99;
	box-shadow: 0px 3px 5px 0px #004964;
}

h4.turingColor {
	background-color: #378eb6;
	box-shadow: 0px 3px 5px 0px #245a75;
}

h4.cesurColor  {
	background-color: #244AA4;
	box-shadow: 0px 3px 5px 0px #1b3679;
}



 
