* {
	font-family: "Jost", sans-serif;
}

body {
	width: 99vw;
	height: 97.5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.informacion {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contenido {
	display: none;
	width: 87vw;
	flex-direction: column;
	justify-content: center;
}

.tablaReservas {
	display: flex;
	width: 87vw;
	align-items: center;
	justify-content: center;
}

.reservar {
	display: flex;
	justify-content: center;
	width: 87vw;
	margin-top: 20px;
}

.reservar a {
	background: #a100ff;
	padding: 5px;
	font-size: 15px;
	color: white;
	border-radius: 10px;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	width: fit-content;
}

th {
	padding: 10px;
	text-align: center;
}

td {
	width: 120px;
	height: 30px;
	border: 2px solid #a100ff;
	padding: 10px;
	text-align: center;
}

.ocupado {
	background-color: #a100ff;
}

input[type="radio"] {
	width: 117%;
	height: 155%;
	margin: -9.5px;
	box-sizing: border-box;
	appearance: none;
	-webkit-appearance: none;
}

input[type="radio"]:checked {
	background-color: #a100ff;
	box-shadow: 0px 3px 2px 2px black;
}

.legend {
	margin-top: 20px;
	margin-left: 30px;
}

.legend div {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.legend div span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 1px solid #000;
}

.legend .ocupado {
	background-color: #a100ff;
}

.legend .libre {
	background-color: white;
}