* {
	font-family: "Jost", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 99vw;
	height: 96vh;
}

select {
	width: 20vw;
	font-size: 18px;
	border-color: #a100ff;
	border: 2px solid #a100ff;
	border-radius: 10px;
}

h1 {
	height: 5vh;
}

.reservas {
	display: flex;
}

.tablaReservas {
	width: 80vw;
	border-collapse: collapse;
	text-align: center;
	margin-top: 5vh;
}

.tablaReservas td {
	width: 120px;
	height: 30px;
	border: 2px solid #a100ff;
	padding: 10px;
	text-align: center;
}

input[type="radio"] {
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	margin: -9.5px;
	box-sizing: border-box;
	appearance: none;
	-webkit-appearance: none;
	height: -webkit-fill-available;
	margin: -9.5px;
}

input[type="radio"]:checked {
	background-color: #a100ff;
	box-shadow: 0px 3px 2px 3px black;
}

.buttonSubmit {
	background-color: #a100ff;
	color: white;
	font-size: 15px;
	border-radius: 10px;
}

.opcionReservar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
	width: 80vw;
}

.opcionCancelar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
	width: 80vw;
}

.botonReserva {
	background-color: #a100ff;
	color: white;
	border-radius: 8px;
	border: 2px solid black;
	padding: 5px;
	width: 10vw;
	height: 6vh;
}

.botonReserva:hover {
	transition: 0.3s ease;
	background: white;
	color: black;
	border: 2px solid black;
}

.botonCancelar {
	background: white;
	border: 2px solid #f0361c;
	color: #f0361c;
	border-radius: 8px;
	padding: 5px;
	width: 10vw;
	height: 6vh;
}

.botonCancelar:hover {
	transition: 0.3s ease;
	background-color: #f0361c;
	color: white;
}

.hours {
	display: flex;
	flex-direction: column;
	gap: 0px;
}

.ocupado {
	background-color: #a100ff;
}

.libre {
	background-color: white;
}

.informacion {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.legend {
	margin-top: 10px;
	margin-left: 30px;
}

.legend div {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.legend div span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 1px solid #000;
}

.legend .ocupado {
	background-color: #a100ff;
}

.legend .libre {
	background-color: white;
}


h4{
	margin-top:5vh;
	font-size: 1.85rem;
	color:white;
	width:80vw;
	text-align:center;
	margin-bottom: 2vh;
	box-shadow: 0px 3px 5px 0px rgba(26,83,102,1);
}

td.cesurColor,  .profesorSelect.cesurColor {
	border: 2px solid #244AA4;
}

td.belenColor,  .profesorSelect.belenColor {
	border: 2px solid #de6c02;
}

td.picassoColor,  .profesorSelect.picassoColor {
	border: 2px solid #5b2593;
}

td.joseColor,  .profesorSelect.joseColor {
	border: 2px solid #006B99;
}

td.turingColor,  .profesorSelect.turingColor{
	border: 2px solid #378eb6;
}


.Letras.belenColor {
	color: #de6c02;
	font-size: 18px
}

.Letras.cesurColor {
	color: #244AA4;
	font-size: 18px
}

.Letras.turingColor {
	color: #378eb6;
	font-size: 18px
}

.Letras.joseColor {
	color: #006B99;
	font-size: 18px
}

.Letras.picassoColor {
	color: #5b2593;
	font-size: 18px
}




.buttonSubmit.belenColor, .ocupado.belenColor, .botonReserva.belenColor, h4.belenColor {
	background-color: #de6c02;
}

.buttonSubmit.picassoColor, .ocupado.picassoColor, .botonReserva.picassoColor, h4.picassoColor {
	background-color: #5b2593;
}

.buttonSubmit.joseColor, .ocupado.joseColor, .botonReserva.joseColor, h4.joseColor {
	background-color: #006B99;
}

.buttonSubmit.turingColor, .ocupado.turingColor, .botonReserva.turingColor, h4.turingColor {
	background-color: #378eb6;
}

.buttonSubmit.cesurColor, .ocupado.cesurColor, .botonReserva.cesurColor, h4.cesurColor  {
	background-color: #244AA4;
}







