* {
	font-family: "Jost", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 15vh;
	background-color: white;
	color: #A100FF;
	border-bottom: 3px solid #A100FF;
}

.imagenNombreCentro {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: space-around;
	width: fit-content;
	padding-left:4vw;
}

.imagenNombreCentro img{
	padding-right:2vw;
}

header .tarjetaAlumno {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12vh;
	width: fit-content;
	border-radius: 10px;
	color: #A100FF;
	margin-right: 30px;
	background-color: white;
	box-shadow: 2px 2px 5px 1px grey;
	}

header h1 {
	margin-top: 2vh;
	color: black;
}

.tarjetaAlumno img {
	height: 9vh;
	border-radius: 80px;
	margin-right: 10px;
}

.tarjetaAlumno p {
	color: #A100FF;
	font-size: 20px;
	padding: 2px;
}

.nombreCurso {
	display: flex;
	flex-direction: column;
	margin: 5px;
}

.contenedor {
	display: flex;
}



.menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100vh;
	width: 15vw;
	background-color: white;
	color: #A100FF;
}

.menuOpcion p {
	padding: 3vh;
}

.menuOpcion:hover {
	box-sizing: border-box;
	background-color: #A100FF;
	color: white;
}

.menuOpcion:hover path {
	fill: white;
}

.menuOpcion {
	display: flex;
	align-items: center;
	width: 15vw;
	padding-left: 8px;
	transition: 0.1s;
}

.menuOpcion svg {
	height: 5vh;
	width: 4vw;
}

.menuOpciones {
	height: 60vh;
	width: 15vw;
}

.selected {
    box-sizing: border-box;
    background-color: #A100FF;
    color: white;
}

.selected path {
    fill: white;
}

.cerrarSesion {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 45vh;
	color: #7501b8;
}

.cerrarSesion p:hover{
    background-color: red;
}


.cerrarSesion p {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #A100FF;
	width: 15vw;
	height: 7vh;
	color: white;
	cursor: pointer;
	transition: all 0.4s ease;
}

.contenedorPrincipal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 85vw;
	height: 100vh;
	overflow: auto;
	box-shadow: inset 11px 9px 21px -17px rgba(0, 0, 0, 0.75);
	background-image: url("../images/landingBackground.png");
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
	color: white;
	background-color: black;
}

/* CLASES QUE AJUSTAN LOS COLORES DEPENDIENDO DEL COLEGIO */

/* CESUR ------------------------------*/

.cesurColor{
	border-color: #244AA4
}


.tarjetaAlumno.cesurColor p {
	color: #244AA4
}

.menu.cesurColor {
	background-color: white;
	color: #244AA4;
}

.menuOpcion.cesurColor:hover svg path {
    fill: white;
}

.cesurColor.menuOpcion:hover {
    box-sizing: border-box;
    background-color: #244AA4;
    color: white;
}

.cerrarSesion.cesurColor p {
	background-color: #244AA4;
}

.menuOpcion.cesurColor svg path {
    fill: #244AA4;
}

.cerrarSesion.cesurColor p:hover{
    background-color: red;
}

.selected.cesurColor {
    background-color: #244AA4;
}

.selected.cesurColor svg path {
    fill: white;
}



/* BELEN ------------------------------*/

.belenColor{
	border-color: #FF8005
}

.tarjetaAlumno.belenColor p {
	color: #FF8005
}

.menu.belenColor {
	background-color: white;
	color: #FF8005;
}

.menuOpcion.belenColor:hover svg path {
    fill: white;
}

.belenColor.menuOpcion:hover {
    box-sizing: border-box;
    background-color: #FF8005;
    color: white;
}

.cerrarSesion.belenColor p {
	background-color: #FF8005;
}

.menuOpcion.belenColor svg path {
    fill: #FF8005;
}

.cerrarSesion.belenColor p:hover{
    background-color: red;
}

.selected.belenColor {
    background-color: #FF8005;
}

.selected.belenColor svg path {
    fill: white;
}

/* PICASSO ------------------------------*/

.picassoColor{
	border-color: #461B70
}


.tarjetaAlumno.picassoColor p {
	color: #461B70
}

.menu.picassoColor {
	background-color: white;
	color: #461B70;
}

.menuOpcion.picassoColor:hover svg path {
    fill: white;
}

.picassoColor.menuOpcion:hover {
    box-sizing: border-box;
    background-color: #461B70;
    color: white;
}

.cerrarSesion.picassoColor p {
	background-color: #461B70;
}

.menuOpcion.picassoColor svg path {
    fill: #461B70;
}

.cerrarSesion.picassoColor p:hover{
    background-color: red;
}

.selected.picassoColor {
    background-color: #461B70;
}

.selected.picassoColor svg path {
    fill: white;
}


/* JOSE ------------------------------*/

.joseColor{
	border-color: #006B99
}


.tarjetaAlumno.joseColor p {
	color: #006B99
}

.menu.joseColor {
	background-color: white;
	color: #006B99;
}

.menuOpcion.joseColor:hover svg path {
    fill: white;
}

.joseColor.menuOpcion:hover {
    box-sizing: border-box;
    background-color: #006B99;
    color: white;
}

.cerrarSesion.joseColor p {
	background-color: #006B99;
}

.menuOpcion.joseColor svg path {
    fill: #006B99;
}

.cerrarSesion.joseColor p:hover{
    background-color: red;
}

.selected.joseColor {
    background-color: #006B99;
}

.selected.joseColor svg path {
    fill: white;
}

/* TURING ------------------------------*/

.turingColor{
	border-color: #43A7DB
}

.tarjetaAlumno.turingColor p {
	color: #43A7DB
}

.menu.turingColor {
	background-color: white;
	color: #43A7DB;
}

.menuOpcion.turingColor:hover svg path {
    fill: white;
}

.turingColor.menuOpcion:hover {
    box-sizing: border-box;
    background-color: #43A7DB;
    color: white;
}

.cerrarSesion.turingColor p {
	background-color: #43A7DB;
}

.menuOpcion.turingColor svg path {
    fill: #43A7DB;
}

.cerrarSesion.turingColor p:hover{
    background-color: red;
}


.selected.turingColor {
    background-color: #43A7DB;
}

.selected.turingColor svg path {
    fill: white;
}
