* {
	font-family: "Jost", sans-serif;

}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../images/registerBackground.png);
}

.contenedorPrincipal {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top:30px;
	margin-bottom: 30px;
}

#courseTable{
	background-color: white;
}

h2{
	font-size:40px;
}

#descriptionUnderline {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 120px;
	margin-bottom: 20px;
}

th{
	font-size:20px;
	background-color:#A100FF;
	color: white;
}

p {
	width: 800px;
	margin-top: -15px;
	margin-bottom: 50px;
	text-align: center;
	border-left: solid #A100FF 3px;
	border-right: solid #A100FF 3px;
	border-radius: 10px;
	padding: 15px;
}
#courseTable,th, td, tr {
	border: solid black 2px;
	padding:8px;
	border-collapse: collapse;
}

#hoursWeekly, #hoursTotal {
	text-align: center;
}

.tableContent {
	text-align: center;
}

th.belenColor {
	background-color: #FF8005;
}

th.picassoColor {
	background-color: #461B70;
}

th.joseColor {
	background-color: #006B99;
}

th.turingColor {
	background-color: #43A7DB;
}

th.cesurColor  {
	background-color: #244AA4;
}

p.belenColor {
	border-left: solid #FF8005 3px;
	border-right: solid #FF8005 3px;
}

p.picassoColor {
	border-left: solid #461B70 3px;
	border-right: solid #461B70 3px;
}

p.joseColor {
	border-left: solid #006B99 3px;
	border-right: solid #006B99 3px;
}

p.turingColor {
	border-left: solid #43A7DB 3px;
	border-right: solid #43A7DB 3px;
}

p.cesurColor  {
	border-left: solid #244AA4 3px;
	border-right: solid #244AA4 3px;
}

.underline.belenColor {
	border-bottom: solid #FF8005 2px;
}

.underline.picassoColor {
	border-bottom: solid #461B70 2px;
}

.underline.joseColor {
	border-bottom: solid #006B99 2px;
}

.underline.turingColor {
	border-bottom: solid #43A7DB 2px;
}

.underline.cesurColor  {
	border-bottom: solid #244AA4 2px;
}
