* {
	font-family: "Jost", sans-serif;
}

body {
	height: 90vh; display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
}

.tarjetaPersonal {
	display: flex;
	width: 45vw;
	height: 35vh;
	border: 2px solid #a100ff;																																		
	border-radius: 15px;
	padding: 10px;
    box-shadow: 0px 0px 6px 3px #a100ff;
    font-size: large;
}

.h1dp{
	font-size: 40px;
	margin-bottom: 50px;
	color: #A100FF;
}


.ladoIzquierdoTarjeta {
	display: flex;
	justify-content: space-around;
	width: 30vw;
	color: #a100ff;
}

.columna1 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.columna2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.ladoDerechoTarjeta {
	display: flex;
	width: 15vw;
	justify-content: center;
	align-items: center;
}

/* Colores segun centro */

/*belenColor*/

.h1dp.belenColor{
	color: #FF8005;
}

.tarjetaPersonal.belenColor{
	border-color: #FF8005;
	box-shadow: 0px 0px 6px 3px #FF8005;
}

.ladoIzquierdoTarjeta.belenColor {
	color: #FF8005;
}

/* PICASSO ------------------------------*/

.h1dp.picassoColor{
	color: #461B70;
}

.tarjetaPersonal.picassoColor{
	border-color: #461B70;
	box-shadow: 0px 0px 6px 3px #461B70;
}

.ladoIzquierdoTarjeta.picassoColor {
	color: #461B70;
}

/* JOSE ------------------------------*/

.h1dp.joseColor{
	color: #006B99;
}

.tarjetaPersonal.joseColor{
	border-color: #006B99;
	box-shadow: 0px 0px 6px 3px #006B99;
}

.ladoIzquierdoTarjeta.joseColor {
	color: #006B99;
}

/* TURING ------------------------------*/

.h1dp.turingColor{
	color: #43A7DB;
}

.tarjetaPersonal.turingColor{
	border-color: #43A7DB;
	box-shadow: 0px 0px 6px 3px #43A7DB;
}

.ladoIzquierdoTarjeta.turingColor {
	color: #43A7DB;
}

/* CESUR ------------------------------*/

.h1dp.cesurColor{
	color: #244AA4;
}

.tarjetaPersonal.cesurColor{
	border-color: #244AA4;
	box-shadow: 0px 0px 6px 3px #43A7DB;
}

.ladoIzquierdoTarjeta.cesurColor {
	color: #244AA4;
}
